Django==1.6.2
MySQL-python==1.2.5
Pillow==2.3.0
South==0.8.4
beautifulsoup4==4.3.2
bottle==0.12.4
django-registration==1.0
django-tastypie==0.11.0
django-tastypie-swagger==0.1.2
python-dateutil==2.2
python-mimeparse==0.1.4
requests==2.2.1
selenium==2.40.0
six==1.5.2
wsgiref==0.1.2
dj-database-url==0.2.2
dj-static==0.0.5
gunicorn==18.0
psycopg2==2.5.1
static==0.4
wsgiref==0.1.2