{% extends "base.html" %}

{% block content %}

    <div id="about-div">
        <h2>What is Callback?</h2>
        <p style="color: red">Callback is in Alpha- so none of the data is real!</p>
        <p>Callback is a way to make it easier for Actors to find Auditions, and for Auditions to
        find more Actors.</p>
        <p>If you're a production company, big or small, or if you just want to put together a play with friends,
        you can use Callback to find the Actors you need.</p>
        <h3>Actors</h3>
        <p>If you're an Actor, you can use Callback to see a map of all the Auditions in your area- along with details
        on all the parts.  You can also see all the information in a list!</p>
        <p>You can sign up for an account by clicking the top right button that says "Sign Up".  If you've already
        signed up, you can also Log In with the Username and Password you've chosen.  (If you've forgotten your
        password or username, we're working on a way to reset them soon.  Sorry!)</p>
        <p>When you sign up, be sure to customize your profile.  That way when you apply to auditions,
        the companies will be able to see your headshot, bio, highlight reel and more!</p>
        <p>If you've logged in, you can mouse over your Username in the top right to see your profile, edit your profile,
        log out or change your password.</p>
        <p>If you are logged in, you can click Audition to see all the auditions.  Click on MORE INFO for any
        of the auditions to see details on the parts.  From there, you can apply to let the companies know
        you'd like to come.</p>
        <h3>Companies</h3>
        <p>You can create an account and profile exactly as an actor would.</p>
        <p>You can create an audition in Callback by clicking the Create button on the Navbar above.  It will
        appear once you've logged in!</p>
        <p>Enter all the appropriate information- be sure to use your exact address in "Location Name"!  The map
        should move right to it when you type it in.</p>
        <p>When you visit the page of the audition you've created, you can add parts
        and see all the actors that want to apply.  Click on their name to go to their profile.</p>
        <h3>Yeah but, who made this?</h3>
        <p>Callback was made by Kevin Holloway, but with help from the following people: </p>
        <ul>
            <li>Rudy Mutter
            </li>
            <li>Neil Aboshamma</li>
        </ul>


    </div>

{% endblock %}