{% load i18n %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
    <title>{% block title %}Callback{% endblock %}</title>
</head>

<body>
    <div id="header">
        {% block header %}
	<a href="{% url 'index' %}">{% trans "Home" %}</a> |
    <a href="{% url 'audition' %}">{% trans "Auditions" %}</a> |
    <a href="{% url 'audition_builder' %}">{% trans "Create Audition" %}</a> |
    <a href="{% url 'about' %}">{% trans "About" %}</a> |
    <a href="{% url 'index' %}">{% trans "Contact" %}</a>

    <div style="float: right">
	{% if user.is_authenticated %}
	{% trans "Logged in" %}:

	    {% if user.is_actor %}
            <a href="/audition/#/profile/{{user.actor.id}}">{{ user.username }}</a> (
            <a href="{% url 'profile_builder' %}">{% trans "Edit Profile" %}</a>
        {% else %}
            <a href="/audition/#/{{user.producer.id}}">{{ user.username }}</a> (
            <a href="{% url 'production_profile_builder' %}">{% trans "Edit Profile" %}</a>
        {% endif %}
        |
        <a href="{% url 'logout' %}">{% trans "Log out" %}</a> |
	<a href="{% url 'auth_password_change' %}">{% trans "Change password" %}</a>)
	{% else %}
	<a href="{% url 'login_page' %}">{% trans "Log in" %}</a>
	{% endif %}
    </div>
	<hr />
        {% endblock %}
    </div>

    <div id="content">
        {% block content %}{% endblock %}
    </div>

    <div id="footer">
        {% block footer %}
        <hr />
           <p>By: Holl</p>
        {% endblock %}
    </div>
</body>

</html>
