{% extends "base.html" %}
{% load i18n %}
{%  load static %}

{% block content %}

<div class="signup-div">
<link rel="stylesheet" href='{% static "css/login.css"%}'>
    <form method="post">
    <h3> Sign Up </h3>
        {% csrf_token %}
        <p>{{ form.username.label }}
        {{ form.username }}</p>
        <p>{{ form.email.label }}
        {{ form.email }}</p>
        <p>{{ form.password.label }}
        {{ form.password }}</p>
        <p>{{ form.confirm_password.label }}
        {{ form.confirm_password }}</p>
        <input type="submit" name="submit" value="Submit" />
        <p>Already a User?  Login <a href="{% url 'login_page' %}">here!</a></p>
    <div>
    </form>

{% endblock %}
</div>