.angular-google-map-container {
  height: 400px; }

.wrapper {
  position: relative; }

#map-canvas {
  height: 200px;
  width: 400px; }

.wrapper_create {
  height: 200px;
  width: 400px; }

.create_form {
  position: relative;
  margin-left: 400px; }

#controller {
  height: 300px;
  width: 100px;
  background-color: grey;
  position: absolute;
  float: right;
  top: 10%;
  left: 90%;
  z-index: 99; }
  #controller div {
    color: white; }
