.angular-google-map-container {
  height: 560px;
  width: 100%; }

.table {
  float: right;
  width: 40%;
  font-family: Asap; }

.cell {
  border-bottom: #C21000 double;
  margin-bottom: 10px;
  padding-bottom: 10px;
  text-align: center;
  padding-left: 0px; }
  .cell ul {
    text-align: center;
    list-style: none;
    padding-left: 0px; }
    .cell ul li {
      display: block;
      left: 37%;
      padding: 10px 5px 10px 5px; }
      .cell ul li a {
        text-align: center; }

.wrapper {
  position: fixed;
  width: 58%;
  display: inline-block; }

#map-canvas {
  height: 200px;
  width: 400px; }

.wrapper_create {
  height: 200px;
  width: 200px; }

.create_form {
  position: relative;
  margin-left: 400px; }

#controller {
  height: 300px;
  width: 100px;
  background-color: grey;
  position: absolute;
  float: right;
  top: 10%;
  left: 90%;
  z-index: 99; }
  #controller div {
    color: white; }

.actor-name {
  text-align: center;
  font-family: Asap; }

.actor-headshot, .actor-highlight_reel {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 40%;
  width: 40%; }

div {
  font-family: Asap; }
