.angular-google-map-container {
  height: 560px;
  width: 100%;
}

.table {
  float: right;
  width: 40%;
  font-family: Asap;
}

.cell {
  border-bottom: #C21000 double;
  margin-bottom: 10px;
  padding-bottom: 10px;
  text-align: center;
  padding-left: 0px;
  ul {
    text-align: center;
    list-style: none;
    padding-left: 0px;
    li {
      display: block; left: 37%;
      padding: 10px 5px 10px 5px;
      a{
        text-align: center;

      }
  }
}
}



.wrapper {
  position: fixed;
  width: 58%;
  display: inline-block;

}

#map-canvas {
  height: 200px;
  width: 400px;
}

.wrapper_create {
  height: 200px;
  width: 200px;
}

.create_form {
  position: relative;
  margin-left: 400px;
}

#controller {
  height: 300px;
  width: 100px;
  background-color: grey;
  position: absolute;
  float: right;
  top: 10%;
  left: 90%;
  z-index: 99;

  div {
    color:white;
  }
}

.actor-name {
  text-align: center;
  font-family: Asap;
}

.actor-headshot{
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  width: 100%;

}

.actor-video {
  background-color: grey;
  border-radius: 10px;

}

.actor-phone {
  text-align: center;
}

#actor-div{
  text-align: center;
  width:50%;
  float:left;
  position: fixed;
  top: 36px;
  left:0;
}


.actor-extra {
  float: right;
  width: 49%;

}


div {
  font-family: Asap;
}

#audition-div {
  width: 60%;
  margin-right: auto;
  margin-left: auto;
  h1{
    text-align: center;
  }
  #essentials {
    text-align: center;
  }

  .apply-buttons{
    margin-left:42.5%;
  }

}

