<div id="audition-div">
    <h1> {{ audition.name }}</h1>
    <div id="essentials">
        <p>{{ audition.audition_date }}</p>
        <p>{{ audition.location_name }}</p>
        <p> {{ audition.description }}</p>
    </div>

    <p>{{ audition.production_user }}</p>
    <p>{{ audition.tag }}</p>

    <a ng-Show="audition.is_the_producer" href="builder/parts/{{ audition.id }}">Add Part</a>
    <p ng-Show="audition.is_the_producer">Actors who've applied:</p>
    <ul ng-Show="audition.is_the_producer" ng-Repeat="actor in audition.actors">
        <li><a href="/audition/#/profile/{{ actor.id }}">{{ actor.first_name }} {{ actor.last_name }}</a></li>
    </ul>

    <p>Parts Available:</p>
    <div class="applicants" ng-Show="audition.is_the_producer">

    </div>

            <ul  ng-repeat="part in audition.parts">
                <li>{{ part.name }}
                    <ul>
                        <li>{{ part.description }}</li>
                    </ul>
                </li>
            </ul>

    <a href="/signup/audition/{{ audition.id }}/" class="apply-buttons">Sign Up</a>
</div>


