<div class="wrapper">

    <google-map center="map.center" zoom="map.zoom">
            <marker ng-repeat="m in markers" coords="m"  ng-click="m.showWindow = true" >
                <window show='hide'>
                    {{ m.name }}
                    {{ m.description }}
                    <a href="{{ m.id }}"></a>

                </window>
            </marker>
    </google-map>



    <div id="controller">
        <div>
            This is the controller which will be used
            to change what auditions are seen.
        </div>
        <button>Change to Table</button>
    </div>

</div>