

<div class="wrapper">

    <google-map center="map.center" zoom="map.zoom">
            <marker ng-repeat="m in markers" coords="m"  ng-click="m.showWindow = true" >
                <window show='hide'>
                    <div class="window-styler" style="font-family: Verdana;">
                        Name: {{ m.name }} <br>
                        Description: {{ m.description }} <br>
                        Date/Time: {{ m.audition_date }} <br>
                        Parts:
                        <div ng-repeat="p in m.parts">
                            {{ p.name }}
                            {{ p.gender }}
                        </div>
                        <a href="#/{{ m.id }}">More Info</a>
                    </div>

                </window>
            </marker>
    </google-map>





</div>
<div class="table">
    <div class="cell" ng-repeat="m in markers">
       <h3>{{ m.name }}</h3>
       <h4>{{ m.audition_date }}</h4>
       <p>{{ m.description }}</p>
        <a href="#/{{ m.id }}">More Info</a>
    </div>
</div>