#header  {
//  background-color: #232411;
  position: fixed;
  top: 0;
  color: whitesmoke;
  width: 100%;
  left: 0;
}

.headerCover {
  background-color: #232427;
  height: 36px;
}

.header-list {
  float: left;
  padding-left: 0px;
  background-color: #232427}

.login-ul {
  float: right;
  background-color: #232427;}

#header a:link, #header a:visited, .landing-buttons a:link, .landing-buttons a:visited, .audition-buttons a:link, .audition-buttons a:visited,
.apply-buttons a:link, .apply-buttons a:visited {

//  border: solid;
//  border-color: grey;
  font-weight: bold;
  color: whitesmoke;
  text-align: center;
  padding: 3px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Josefin Sans', sans-serif;
  background-color: #232427;
}

#header a:link, #header a:visited, .landing-buttons a:link, .landing-buttons a:visited {
    display: block;
}

#header a:hover, #header a:active, .landing-buttons a:hover, .landing-buttons a:active, .audition-buttons a:hover,
 .apply-buttons a:hover {
  background-color: grey; }


 #header ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden; }

#header li, ul .landing-buttons  {
  float: left; }

html, body {
    margin-top: 25px;
  font-family: Asap;
//    background-color: steelblue;
}

.profileButton {
  background-color: #C21000 !important;
  width: 200px;
}

#header ul ul {
    float: none;
	display: none;

}

#header ul ul li {
      float: none;
      overflow: visible;

}

#header ul   li:hover > ul {
    float: none;
    display: block;
}

.audition-buttons {

}

.apply-buttons, #actor-side a, #producer-side a {
	background-color:#f24537;
	-webkit-border-top-left-radius:0px;
	-moz-border-radius-topleft:0px;
	border-top-left-radius:0px;
	-webkit-border-top-right-radius:0px;
	-moz-border-radius-topright:0px;
	border-top-right-radius:0px;
	-webkit-border-bottom-right-radius:0px;
	-moz-border-radius-bottomright:0px;
	border-bottom-right-radius:0px;
	-webkit-border-bottom-left-radius:0px;
	-moz-border-radius-bottomleft:0px;
	border-bottom-left-radius:0px;
	text-indent:1.16px;
	display:inline-block;
	color:#ffffff;
	font-family:Times New Roman;
	font-size:25px;
	font-weight:bold;
	font-style:normal;
	height:65px;
	line-height:65px;
	width:116px;
	text-decoration:none;
	text-align:center;
}.apply-buttons:hover,#actor-side a:hover, #producer-side a:hover  {
	background-color:#c62d1f;
}.apply-buttons:active {
	position:relative;
	top:1px;
}

#map-canvas {
  height:500px;
  width:48%;
  float:right;
  position:fixed;
  margin-bottom: 400px
}

#actor-side {
  float: left;
  text-align: center;
  width: 50%;
  margin-top: 5%;
  a{
    margin-top: 10%;
    width: 60%;
  }
}

#producer-side {
  float: left;
  text-align: center;
  width: 50%;
  margin-top: 5%;
  a{
    width: 60%;
    margin-top: 10%;
  }
}

#choice-head {
    margin-top: 10%;
  text-align: center;
}

#about-div {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
}