#header  {
//  background-color: #232411;
  position: fixed;
  top: 0;
  color: whitesmoke;
  width: 100%;
  left: 0;
}

.headerCover {
  background-color: #232427;
  height: 36px;
}

.header-list {
  float: left;
  padding-left: 0px;
  background-color: #232427}

.login-ul {
  float: right;
  background-color: #232427;}

#header a:link, #header a:visited, .landing-buttons a:link, .landing-buttons a:visited {
  display: block;
//  border: solid;
//  border-color: grey;
  font-weight: bold;
  color: whitesmoke;
  text-align: center;
  padding: 3px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 10px;
  padding-right: 10px;
  text-decoration: none;
  text-transform: uppercase;
  font-family: 'Josefin Sans', sans-serif;
  background-color: #232427;
}

#header a:hover, #header a:active, .landing-buttons a:hover, .landing-buttons a:active  {
  background-color: grey; }

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden; }

li {
  float: left; }

html, body {
    margin-top: 25px;
  font-family: Asap;
//    background-color: steelblue;
}

.profileButton {
  background-color: #C21000 !important;
  width: 200px;
}

#header ul ul {
    float: none;
	display: none;

}

#header ul ul li {
      float: none;
      overflow: visible;

}

#header ul   li:hover > ul {
    float: none;
    display: block;
}

.audition-buttons {
  position: absolute;
}

