body {
  background-image: url('http://i.imgur.com/BovdpYL.jpg');
  width: 100%;
  height: 100%;
  background-size: 100%;
}

.database-div {
  border: solid 1px #232427;
  border-radius: 10px;
  padding-left: 40px;
  padding-right: 40px;
  margin-top: 150px;
  width: 20%;
  margin-right: auto;
  margin-left: auto;
  background-color: whitesmoke;
  h3{
    text-align: center;
  }
  button {
    margin-right: auto;
    margin-left: auto;
    background-color: #d9534f;
  }
}

.signup-div {
  border: solid 1px #232427;
  border-radius: 10px;
  padding-left: 40px;
  padding-right: 40px;
  margin-top: 12%;
  width: 22%;
  margin-right: auto;
  margin-left: auto;
  background-color: whitesmoke;
  h3{
    text-align: center;
  }
  button {
    margin-right: auto;
    margin-left: auto;
    background-color: #d9534f;
  }

}

